*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{

    position: relative;
    padding-bottom: 350px;
    background-color: lightblue;
}
header{

    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white !important;
}

header >img{

    width: 6.5em;
}


.nav-link{

    position: relative;
    overflow: hidden;
  

}
.nav-link:hover{

    color: tomato !important;
    border: 1px double tomato;
    background-color: lightblue;
    
}

.nav-link::after{

    content: '⭐​';
    position: absolute;
    transform: translate(-63px,30px);
}

.nav-link:hover::after{

    transform: translate(-5px,-35px);
    transition: 2s;
}

/******************* POINTS**********************************/

.pointsBlock{

    background-color: rgb(116, 234, 228);
    width: 100%;
    height: 123px;
    color: black;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    
}

.points{

    margin: 10px 0;
}
.points >img{

    max-width: 7rem;
    border: 1px solid red;
}

.imgEndGame{

    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    margin: auto;
    
}

.imgEndGame  p{
    text-align: center;
    font-size: 2rem;
}

.imgEndGame button{

    
    margin: auto;
}

section{
    display: flex;
    flex-flow:  wrap;
    justify-content: space-evenly;
    margin: 30px 30px;
    
    
}

footer{

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding-bottom: 10px;
    background-color: black;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    

}

.block_Question{

    display: none;
    flex-flow: column wrap;
    color: red;
    height: 150px;
}

.block_Question > p{

    color: black;
    font-size: 2em;
    text-align: center;
    font-style: italic;
    border: 2px solid red;
    padding: 4px;
}
.drapeau > img{
    width: 20em;
    height: 15em;
}

.question_Reponces{

    margin-top: 40px;
}
.question_Reponces >p{

    text-align: center;
    color: black;
    font-size: 17px;
    cursor: pointer;
}

.question_Reponces >p:hover{

    transform: scale(1.2);
    color: red;
    border: 1px solid green;
    margin: 15px 50px;
}

.barreCompteur{

    width: 100%;
    height: 40px;
    display: none;
    border: 4px solid green;
    position: relative;
    margin: 0 180px;
    margin-bottom: 100px;
}



.barreCompteur::before{

    content: " ";
    position: absolute;
    width: 1%;
    height: 100%;
    transform: translateX(00px);
    animation: jaugeColor 10s forwards ease
      
}


@keyframes jaugeColor {
    from{
        background-color: green;

    }

    to{
        background-color: red;
        width: 100%;
    }
}

@media screen and (max-width: 840px) {

    body{
        padding-bottom: 555px;

    }
}

@media screen and (min-width: 841px) and (max-width: 1200px) {

    footer{
        display: none;

    }
}